# Xcode
build/
DerivedData/
.verify-dd/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store

# Secrets / local config
*.local.xcconfig
secrets.plist
